name: Auto Close Issues With Action

on:
  pull_request:
    types: [closed]
    branches: ["*"]

jobs:
  auto-close-issues:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close issues fixed in this PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_BODY: ${{ github.event.pull_request.body }}
        run: |
          ISSUE_NUMBERS=$(echo "$PR_BODY" | grep -o -E 'close\s+(https://github\.com/[^/]+/[^/]+/issues/[0-9]+|issues/[0-9]+|#[0-9]+)' | grep -o '[0-9]\+')

          for ISSUE_NUMBER in $ISSUE_NUMBERS; do
            curl -X PATCH \
              -H "Authorization: token $GH_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              "https://api.github.com/repos/${{ github.repository }}/issues/$ISSUE_NUMBER" \
              -d '{"state":"closed"}'
            
            curl -X POST \
              -H "Authorization: token $GH_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              "https://api.github.com/repos/${{ github.repository }}/issues/$ISSUE_NUMBER/comments" \
              -d "{\"body\":\"このイシューはPR #${{ github.event.pull_request.number }} のマージによって解決されました。\"}"
          done